.description {
    box-sizing: border-box;
    width: 100%;
    background-image: url(../../images/desc_image_desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 700px) {
    .description {
        padding: 60px;
    }
}

@media (max-width: 700px) {
    .description {
        padding: 20px;
    }
}
    
